.App {
  text-align: center;
}

.login-page{
  height: 100vh;
  width: 100%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-container{
  border: 2px solid red;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  padding: 15px;
}

.error-message{
  color: red;
  font-size: small;
}
